{% extends 'babybuddy/ant_base.html' %}
{% load static i18n %}
{% block title %}{{ ant_page_title }}{% endblock %}
{% block extra_head %}
    <link rel="stylesheet"
          href="{% static "babybuddy/ant/app.css" %}?v={{ BUILD_HASH }}" />
    <link rel="stylesheet"
          href="{% static "babybuddy/ant/app2.css" %}?v={{ BUILD_HASH }}" />
    <link rel="stylesheet"
          href="{% static "babybuddy/ant/app3.css" %}?v={{ BUILD_HASH }}" />
{% endblock %}
{% block page %}
    {{ ant_bootstrap|json_script:"ant-app-bootstrap" }}
    <div id="ant-app-root"></div>
{% endblock %}
{% block javascript %}
    <script type="module"
            src="{% static "babybuddy/ant/app.js" %}?v={{ BUILD_HASH }}"></script>
{% endblock %}
