{% extends 'babybuddy/ant_base.html' %}
{% load babybuddy i18n static %}
{% trans "CSRF configuration" as error_kicker %}
{% blocktrans trimmed with current_origin=origin asvar error_body %}
    CSRF verification failed for {{ current_origin }}. Add this origin to CSRF_TRUSTED_ORIGINS. If multiple origins are required, separate them with commas.
{% endblocktrans %}
{% ant_error_bootstrap title="403 Forbidden" kicker=error_kicker body=error_body as ant_bootstrap %}
{% block title %}403 {{ title }}{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static "babybuddy/ant/app.css" %}?v=20260311_2" />
{% endblock %}
{% block page %}
    {{ ant_bootstrap|json_script:"ant-app-bootstrap" }}
    <div id="ant-app-root"></div>
{% endblock %}
{% block javascript %}
    <script type="module" src="{% static "babybuddy/ant/app.js" %}?v=20260311_2"></script>
{% endblock %}
