{% extends 'babybuddy/ant_base.html' %}
{% load babybuddy i18n static %}
{% trans "Page not found" as error_kicker %}
{% blocktrans trimmed with path=request_path asvar error_body %}
    The path {{ path }} does not exist.
{% endblocktrans %}
{% ant_error_bootstrap title="404 Page Not Found" kicker=error_kicker body=error_body as ant_bootstrap %}
{% block title %}
    404 {% trans "Page Not Found" %}
{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static "babybuddy/ant/app.css" %}?v=20260316_2" />
{% endblock %}
{% block page %}
    {{ ant_bootstrap|json_script:"ant-app-bootstrap" }}
    <div id="ant-app-root"></div>
{% endblock %}
{% block javascript %}
    <script type="module" src="{% static "babybuddy/ant/app.js" %}?v=20260316_2"></script>
{% endblock %}
