{% extends 'babybuddy/ant_base.html' %}
{% load babybuddy i18n static %}
{% trans "Server error" as error_kicker %}
{% trans "An unexpected server error occurred." as error_body %}
{% ant_error_bootstrap title="500 Server Error" kicker=error_kicker body=error_body as ant_bootstrap %}
{% block title %}
    500 {% trans "Server Error" %}
{% endblock %}
{% block extra_head %}
    <link rel="stylesheet"
          href="{% static "babybuddy/ant/app.css" %}?v=20260316_5" />
{% endblock %}
{% block page %}
    {{ ant_bootstrap|json_script:"ant-app-bootstrap" }}
    <div id="ant-app-root"></div>
{% endblock %}
{% block javascript %}
    <script type="module" src="{% static "babybuddy/ant/app.js" %}?v=20260316_5"></script>
{% endblock %}
