{% extends 'babybuddy/ant_base.html' %}
{% load babybuddy i18n static %}
{% trans "Login temporarily locked" as error_kicker %}
{% trans "Back to login" as back_to_login %}
{% axes_lockout_message as lockout_message %}
{% ant_error_bootstrap title=lockout_message kicker=error_kicker body="" action_href="/login/" action_label=back_to_login as ant_bootstrap %}
{% block title %}
    403 {% trans "Too Many Login Attempts" %}
{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static "babybuddy/ant/app.css" %}?v=20260316_2" />
{% endblock %}
{% block page %}
    {{ ant_bootstrap|json_script:"ant-app-bootstrap" }}
    <div id="ant-app-root"></div>
{% endblock %}
{% block javascript %}
    <script type="module" src="{% static "babybuddy/ant/app.js" %}?v=20260316_2"></script>
{% endblock %}
